<h2 class="pageTitle">Add a Book 📗</h2>
<form action="/books" method="POST">
  <%- include('_form_fields') %>
  <div class="buttonBook">
    <button class="addButton" type="submit"><i class="fas fa-plus-circle"></i> Add Book</button>
    <a class="cancelButton" href="/books">Back</a>
   
  </div>
</form>