<h2 class="pageTitle">Edit Book</h2>
<form action="/books/<%= book.id %>?_method=PUT" method="POST">
  <%- include('_form_fields') %>
  <div class="buttonBook">
    <button class="updateButton" type="submit">Update</button>
    <a class="cancelButton" href="/books">Back</a>
   </div>
</form>