<header>
  <nav>
    <input type="checkbox" id="check">
    <label for="check" class="burger">
      <i class="fas fa-bars"></i>
      </label>
    <a href="/"><label class="Logo">Library</label></a>
    <ul>
      <li><a href="/authors" class="navItems">Authors</a></li>
      <li><a href="/subjects" class="navItems">Subjects</a></li>
      <li><a href="/books" class="navItems">Books</a></li>
      <li><a href="/authors/add" class="navItems">Add Author</a></li>
      <li><a href="/subjects/add" class="navItems">Add Subject</a></li>
      <li><a href="/books/add" class="navItems">Add Book</a></li>
    </ul>
  </nav>
</header>