<% bookGridClass %>
<div class="bookGrid <%= bookGridClass %>">
  <% books.forEach(book => { %>
  <a href="/books/<%= book.id %>">
    <div class="bookTitlesHead">
      <div class="coverIcon"><i class="fas fa-book"></i></div>
      <div class="bookName"> <%= book.title%></div>
      Copies Available : <%= book.copyCount %>
    </div>
  </a>
  <% }) %>
</div>
