
/*Root colors*/
:root{
  --blue: #007bff;
  --dark:#343a40;
  --gray-dark: #343a40;
  --red: #dc3545;
  --purple: #6f42c1;
  --yellow: #ffc107;
  --darkyellow: #ebb002;
  --lightblue: #17a2b8;
  --green:#28a745;
}
/* Button styling */

.deleteButton{
  background-color: var(--red);
  border-color: var(--red);
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  color: white;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 10px 20px;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 4px;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  cursor: pointer;
  }
  
  .deleteButton:hover{
     background-color: #88212b;
  
  }
  label{
    font-size: 1.5rem;
    font-weight: 600;
    color: #333149;
  }
  
  .updateButton{
    background-color: var(--yellow);
    border-color: var(--yellow);
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    color: #000;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 10px 20px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 4px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  .updateButton:hover{
   
    background-color: var(--darkyellow);
   
  }
  .cancelButton{
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    vertical-align: middle;
    border-color: #17a2b8;
    background-color: transparent;
    background-image: none;
    border: 1px solid #17a2b8;
    padding: 10px 20px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 4px;
    color: var(--lightblue);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  .cancelButton:hover{
    background-color:var(--lightblue) ;
    color: white;
  }
  .searchButton{
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    vertical-align: middle;
    background-color: transparent;
    background-image: none;
    border: 1px solid var(--dark);
    padding: 10px 20px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 4px;
    cursor: pointer;
    color: var(--dark);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  .searchButton:hover{
    background-color:var(--gray-dark) ;
    color: white;
  }
  .moreButton{
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    vertical-align: middle;
    background-color: transparent;
    background-image: none;
    border: 1px solid var(--green);
    padding: 10px 20px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 4px;
    color: var(--green);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  .moreButton:hover{
    background-color: var(--green);
    color: #fff;
  }
  .addButton{
    background-color: var(--blue);
    border-color: #007bff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    color: aliceblue;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 10px 20px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 4px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    cursor: pointer;
  }
  .addButton:hover{
    background-color: #0051a8;
  }