<h2 class="pageTitle">Add a Subject</h2>
<form action="/subjects" method="POST">
  <div class="formFields">
  <%- include('_form_fields') %>
  <div class="buttonAddRow">
    <button class="addButton" type="submit">Add</button>
    <a class="cancelButton" href="/subjects">Back</a>
    
  </div>
</div>
</form>