<h2 class="pageTitle">Edit Subject</h2>
<form action="/subjects/<%= subject.id %>?_method=PUT" method="POST">
  <div class="formFields">
  <%- include('formDetails') %>
  <div class="buttonAddRow">
    <button class="updateButton" type="submit"><i class="fas fa-user-edit"></i> Update</button>
    <a class="cancelButton" href="/subjects/<%= subject.id %>">Back</a>
  </div>
  </div>
</form>