<h2 class="pageTitle">Category: <%= subject.subjectName %></h2>
<div class="buttonRowShow">
  <a class="updateButton" href="/subjects/<%= subject.id %>/edit">Update</a>
  <%- include('../partials/deleteForm',
              { url: `/subjects/${subject.id}` }) %>
</div>
<% if (booksBySubject.length > 0) { %>
  <h2 class="pageHeader">More Books related to this subject!</h2>
  <%- include('../partials/bookGrid', { books: booksBySubject }) %>
<% } %>