<h2 class="pageTitle">Add a Author</h2>
<form action="/authors" method="POST">
  <div class="formFields">
    <%- include('_form_fields') %>
    <div class="buttonAddRow">
      <button class="addButton" type="submit">Add</button>
      <a class="cancelButton" href="/authors">Back</a>
    </div>
  </div>
</form>
