<h2 class="pageTitle">Add a Author</h2>
<form action="/authors" method="POST">
  <div class="formFields">
    <%- include('formDetails') %>
    <div class="buttonAddRow">
      <button class="addButton" type="submit"><i class="fas fa-plus-circle"></i> Add Author</button>
      <a class="cancelButton" href="/authors">Back</a>
    </div>
  </div>
</form>
